button.accordion-button.collapsed {
    background-color: rgb(233,229,221);
    width: 100%;
    padding: 0px;
    margin: 0;
}
button.accordion-button {
    width: 100%;
    padding: 0px;
    margin: 0;
}
.accordion {
    padding: 0px 20px;
}
div.inter-acc.accordion-body {
    background-color: #92b4a78d;
    height: auto;
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}

.inter-acc .accordion-button {
    background-color: #92b4a78d;
  }

  .inter-acc .accordion-button.collapsed {
    background-color: #92b4a78d;
  }
