button.accordion-button.collapsed {
    background-color: rgb(233,229,221);
    width: 100%;
    padding: 0px;
    margin: 0;
}
button.accordion-button {
    width: 100%;
    padding: 0px;
    margin: 0;
}
.accordion {
    padding: 0px 20px;
}
div.inter-acc.accordion-body {
    background-color: rgb(185,202,191);
    height: auto;
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
}

.inter-acc .accordion-button {
    background-color: rgb(185,202,191);
  }

  .inter-acc .accordion-button.collapsed {
    background-color: rgb(185,202,191);
  }

  .use-content-inter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .usecase-inter {
    display: flex;
    align-items: top;
    justify-content: center;
  }

  .p-1{
    max-width: 30%;
    margin-right: 20px;
    margin-left: 20px;
    width: 50%;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: rgb(185,202,191);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    min-height: 120px;
    padding: 20px;
  }

  .audience-inter {
    display: flex;
    justify-content: center;
    padding: 40px 100px 12px 100px;
  }

@media screen and (max-width: 800px) {
  .use-content-inter {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .usecase-inter {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vh;
  }
}
@media screen and (max-width: 800px) {
  .audience-inter {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

@media screen and (max-width: 800px) {
  .pro-inter {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .title-content {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

