.build-nav-main-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0px 40px 0px 40px;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  @media screen and (max-width: 800px) {
    .build-nav-main-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 8px;
      margin: 20px 10px 20px 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      width: 100%;
      max-width: calc(100vw - 20px);
    }
  }

  .build-name-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 40px;
  }

  .buildbar-container {
    padding: 5px 10px 5px 10px;
  }

  @media screen and (max-width: 800px) {
    .build-name-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px 40px 0px 40px;
    }
  }

.buildbar-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .buildbar-btn-wrapper {
    display: flex;
    justify-content: center;
  }
}

