/* 
font-family: 'Exo 2', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */


#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(233,229,221);
}


